<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Log in/Sign in </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Log in/Sign in</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content [formGroup]="user">
      <ion-input
        label="email"
        label-placement="floating"
        fill="solid"
        placeholder="Enter your email"
        type="email"
        formControlName="email"
      ></ion-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div
            class="error-message"
            *ngIf="user.get('email')?.hasError(validation.type) && (user.get('email')?.dirty || user.get('email')?.touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <br />

      <ion-input
        label="password"
        label-placement="floating"
        fill="solid"
        placeholder="Enter your password"
        type="text"
        formControlName="password"
      ></ion-input>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div
            class="error-message"
            *ngIf="user.get('password')?.hasError(validation.type) && (user.get('password')?.dirty || user.get('password')?.touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-button
        color="primary"
        (click)="showLoading()"
        [disabled]="user.status!=='VALID'"
        >Valider</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
