<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Guess the wikipedia page </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Guess the wikipedia page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="wikiTitle && wikiTitle.length"
        >{{wikiTitle}}</ion-card-title
      >
    </ion-card-header>

    <ion-card-content *ngIf="wikiText && wikiText.length">
      <div [innerHTML]="wikiText | safeHtml"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
